.banner {

background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url("../../images/murakami.jpeg");   
background-size: cover;     
color:white;
padding: 150px 0px;
background-position: center;
}

.banner h1 {
  color: white;
  text-shadow: 2px 2px #ff0000;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px
  font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}